.project-container {

    display: flex;
    margin-bottom: 20px; /* Adjust as needed for spacing between projects */
  }
  .leftproj{
    width: 50%;
  }
  .leftproj img {
    width: 100%; /* Adjust the width based on your preference */
    height: auto; /* Maintain the aspect ratio */
  }
  
  .rightproj {
    flex: 1;
    margin-left: 20px; /* Adjust as needed for spacing between image and text */
  }
  
  .rightproj h2 {
    font-size: 40px;
     /* Adjust the font size based on your preference */
  }
  
  .rightproj p {
    font-size: 20px; /* Adjust the font size based on your preference */
  }
  
  .rightproj a {
    text-decoration: none;
    color: #007bff; /* Adjust the color based on your preference */
    display: block;
    margin-top: 10px; /* Adjust as needed for spacing between description and link */
  }